<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    tally
  </h1>
  
</div>
<input type="text" placeholder="player name" [(ngModel)]="playerName" (keyup.enter)="addPlayer(playerName)">
<br>

<select name="playerSelection" #playerOne>
  <option *ngFor="let plr of players" [value]="plr.id">{{plr.name}}</option>
</select>
and
<select name="playerSelection" #playerTwo>
  <option *ngFor="let plr of players" [value]="plr.id">{{plr.name}}</option>
</select>
<p (click)="addTeam(playerOne.value, playerTwo.value)">add team</p>


<div class="boards">
  <app-leaderboard [title]="'Singles'" [players]="players"></app-leaderboard>
  <app-leaderboard [title]="'Doubles'" [players]="teams"></app-leaderboard>
</div>
