.boards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.settings-icon {
    align-self: center;
    margin: 5px;
}

.settings-icon:hover {
    cursor: pointer;
}

.app-content {
    text-align:center;
    display: flex;
    justify-content: center;
}