<div class="settings-modal">

  <div class="settings-content">

    <svg (click)="close()" class="close" fill="#e1e1e1" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
    </svg>

    <h3>Add Player</h3>
    <input type="text" placeholder="Player Name" [(ngModel)]="playerName" (keyup.enter)="addPlayer(playerName)">
    <input type="button" (click)="addPlayer(playerName)" value="Add">
    <br>

    <h3>Add Team</h3>
    <select name="playerSelection" #playerOne>
      <option *ngFor="let plr of players" [value]="plr.id">{{plr.name}}</option>
    </select>
    <h5>and</h5>
    <select name="playerSelection" #playerTwo>
      <option *ngFor="let plr of players" [value]="plr.id">{{plr.name}}</option>
    </select>
    <br>
    <br>
    <input type="button" (click)="addTeam(playerOne.value, playerTwo.value)" value="Add">
  </div>
  
</div>